{% extends "base.html" %}
{% load static %}
{% block extra_title %}| SHOPPING BAG {% endblock %}

{% block content %}
<div class="row">
    <div class="col pt-4">
        <h2 class="text-black uppercase text-center" >Shopping bag</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if bag_items %}     
        <div class="table-responsive">
            <table class="table text-black">
                <thead class="uppercase">
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for item in bag_items %}
                <tbody>
                    <tr>
                        <td><img class="bag-img" src="{{ item.product.image.url }}"></td>
                        <td>
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0">60 x 40 cm</p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td>
                            <p class="my-0">${{ item.product.price }}</p> 
                              
                        </td>
                        <td>
                             <p class="my-0">{{ item.quantity }}</p> 
                        </td>
                        <td>
                            <p class="my-0">${{ item.product.price }}</p>  
                            
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% else %}
            <hr>
            <h4 class="text-black uppercase ps-4">Your bag is empty.</h4>
            <p class="uppercase ps-4"><a class="text-black" href="{% url 'products' %}">Go back to all prints</a></p>
        
            <!-- Unique selling points -->
            {% include 'home/includes/usp.html' %}

            <!-- Newsletter -->
            {% include 'home/includes/newsletter.html' %}
        {% endif %}
    </div>
</div> 
{% endblock %}