{% extends "base.html" %}
{% load static %}
{% block extra_title %}| SHOPPING BAG {% endblock %}

{% block content %}
    <!-- Shopping bag -->
    {% include 'bag/includes/shopping_bag.html' %}

    <!-- Unique selling points -->
    {% include 'home/includes/usp.html' %}

    <!-- Newsletter -->
    {% include 'home/includes/newsletter.html' %} 
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}