{% extends "base.html" %}
{% load static %}
{% block extra_title %}| HOME {% endblock %}

{% block content %}
    <!-- Header images -->
    {% include 'home/includes/header-images.html' %}
    
    <!-- Products in store -->
    {% include 'home/includes/new-products.html' %}

    <!-- info about the company -->
    {% include 'home/includes/about-info.html' %}
    
    <!-- Unique selling points -->
    {% include 'home/includes/usp.html' %}

    <!-- Newsletter -->
    {% include 'home/includes/newsletter.html' %}
{% endblock %}

{% block postloadjs %}
{% endblock %}