<div class="row">
    <!-- navigation to categories -->
    <div class="col">
        <h5 class="uppercase text-end">Categories</h5>
        <ul class="list-unstyled text-end">
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}">All Prints</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="">New</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="">Black and White</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="">Landscape</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="">Paint</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="">Streetart</a>
            </li>
        </ul>
        
    </div>
    <!-- all products -->
    <div class="col-10 ">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="card border-0">
                        {% if product.image %}
                            <!-- Image of product -->
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <!-- default error image -->
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="..." class="card-img-top" alt="...">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="text-black">{{ product.name }}</h5>
                            <p class="text-black">${{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>