<div class="row">
    <!-- navigation to categories -->
    <div class="col">
        <h5 class="uppercase text-end">Categories</h5>
        <ul class="list-unstyled text-end">
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}">All Prints</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}?category=black_and_white">Black and White</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}?category=landscape">Landscape</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}?category=paint">Paint</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}?category=streetart">Streetart</a>
            </li>
        </ul>
        
    </div>
    <!-- all products -->
    <div class="col-10 ">
        <div class="row">
            <div class="col">
                <h4>sorting by</h4>
            </div>
        </div>
        <div class="row pe-5">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <div class="card border-0">
                        {% if product.image %}
                            <!-- Image of product -->
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <!-- default error image -->
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="https://res.cloudinary.com/dmv5hano3/image/upload/v1614331897/media/image_not_available_tbyeou.png" class="card-img-top" alt="...">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="text-black">{{ product.name }}</h5>
                            <p class="text-black">${{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>