<div class="row">
    <div class="col pt-4">
        <h2 class="text-black uppercase text-center">Prints</h2>
    </div>
</div>
<!-- Sorting by -->
<div class="row pb-2 ">
    <div class="col products-col">
        <div class="text-end">
            <select id="sort-selector" class="custom-select-sm border" aria-label="Default select example">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sorting by</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price | low to high</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price | high to low </option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name | A - Z</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name | Z - A</option>
            </select>
        </div>   
    </div>
</div>  
<div class="row pb-3">
    <!-- navigation to categories -->
    <div class="col d-none d-lg-block">
        <h5 class="uppercase text-end">Categories</h5>
        <ul class="list-unstyled text-end">
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}?page=1">All Prints</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}?category=black_and_white">Black and White</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}?category=landscape">Landscape</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}?category=paint">Paint</a>
            </li>
            <li>
                <a class="text-black text-decoration-none" href="{% url 'products' %}?category=streetart">Streetart</a>
            </li>
        </ul>
    </div>
    {% if products|length > 0 %}
        <!-- all products -->
        <div class="col-12 col-lg-10 products-col">
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <div class="card border-0">
                            {% if product.image %}
                                <!-- Image of product -->
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <!-- default error image -->
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="https://res.cloudinary.com/dmv5hano3/image/upload/v1614331897/media/image_not_available_tbyeou.png" class="card-img-top" alt="...">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="text-black">{{ product.name }}</h5>
                                <p class="text-black">${{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="col-10">
            <div class="row pe-5">
                <h4 class="uppercase">No search results. Try again</h4>
            </div>
        </div>     
    {% endif %}
    <!-- Pagination -->
    <div class="col-12">
        <div class="row">
            <div class="pagina pt-4">
                {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                        <span class="pagina-number pagina-current">{{ num }}</span>
                    {% elif num > products.number|add:'-3' and num < products.number|add:'3'  %}
                        <a class="pagina-number" href="?page={{ num }}">{{ num }}</a> 
                    {% endif %}
                {% endfor %}
            </div>
            <!-- mobile/ipad back to top button -->
            <div class="btt-button text-end d-block d-lg-none">
                <a class="btt-link text-black">
                    <h6>Back to top <i class="fas fa-arrow-up"></i></h6>  
                </a>
            </div>
        </div>
    </div>
</div>