/*-------------------------------------Special paddings/margins/text/sizes */ 
html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Oswald';
}

p {
    margin: 0;
}

h3 {
    margin: 0;
}

h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

ul {
    margin-bottom: 0px;
}

.nav-link {
    padding: 5px 3px;
}

.icons {
    font-size: 15px;
}

.usp-icons {
    font-size: 50px;
}

.about-padding-l {
    padding-left: 45%;

}

.about-padding-r {
    padding-right: 45%;

}

.card-body {
    padding: 0;
    padding-bottom: 10px;
}

.products-col {
    padding-right: 3rem !important;
}


/*------------------------------------- background colours */ 

.bg-black {
    background-color: #000 !important;
}

.bg-grey {
    background-color: #1A1A1A;
}

.bg-green {
    background-color: green;
}

.bg-brown {
    background-color: #CDBB8D;
}

/*------------------------------------- Text colours */ 
.text-black {
    color: #000 !important;
}

/*------------------------------------- Searchbar */ 
.searchbar {
    font-size: 15px;
    border: 0px;
    border-bottom: 1px solid black;

}

.searchbutton {
    border: 0px;
    background-color: #fff;

}

/*------------------------------------- Newsletter */ 
.newsletter-bar {
    width: 30%;
    font-size: 30px;
    border: 0px;
    border-bottom: 3px solid black;

}

.newsletterbutton {
    width: 30%;
    margin-top: 5px;
    padding: 5px;
    border: 0px;
    background-color: #000;
}

/* -------------------------------- Images */

.about-img {
    height: 400px;
    width: 400px;
}

.carousel-img {
    width: 100%;
    height: 450px;
}

.bag-img {
    height: 80px;
    width: 120px;

}

/* -------------------------------- Header  */

.carousel-caption {
    position: absolute;
    min-width: 30%;
    max-width: 80%;
    width: fit-content;
    right: 20%;
    left: 15%;
    bottom: 50px;
    background-color: #fff;
    opacity: 0.8;
    color: #000;
    text-align: left;
    padding: 10px 30px;

}

/* -------------------------------- Paginator  */
.pagina {
    text-align: center;
}

.pagina-number {
    color: #757575;
    text-decoration: none;
    font-size: 20px;
}

.pagina-number:hover {
    color: #000;
}

.pagina-current {
    color: #000;

}

/* -------------------------------- Buttons   */

.btt-button {
    padding-right: calc(var(--bs-gutter-x)/ 2);  
}

.custom-btn {
    background-color: #000;
}

.btn-outline-black {
    background: black;
    color: white !important;
    border: 1px solid black;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/*------------------------------------- Media queries | for iPhone 5/6/7/8 plus   */

@media screen and (max-width: 400px) {
    h4 {
       font-size: 20px;
    }
    .searchbar {
        width: 50px;   
    }
    .newsletter-bar {
        width: 40%;
        font-size: 15px;
    }
    .newsletterbutton {
        width: 40%;

    }
    .icons {
        font-size: 10px;

    }
    .about-img {
        height: 300px;
        width: 300px;
    }
    .carousel-img {
        height: 300px;
    }
    .products-col {
        padding-right: calc(var(--bs-gutter-x)/ 2) !important;
    }

}


/*------------------------------------- Media queries | iPad   */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .products-col {
        padding-right: calc(var(--bs-gutter-x)/ 2) !important;
    }
}
