/*-------------------------------------Special paddings/margins/text */ 
html {
    height: 100%;
}

body {
    background: url('') no-repeat center center fixed;
    background-size: cover;
    height: calc(130vh - 164px);
    color: #555;
    font-family: 'Oswald';
}

p {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

ul {
    margin-bottom: 0px;
}

.nav-link {
    padding: 5px 3px;
}

.icons {
    font-size: 15px;
}


/*------------------------------------- background colours */ 

.bg-black {
    background-color: #000 !important;
}

.bg-grey {
    background-color: #1A1A1A;
}

/*------------------------------------- Text colours */ 
.text-black {
    color: #000 !important;
}

/*------------------------------------- Searchbar */ 
.searchbar {
    font-size: 15px;
    border: 0px;
    border-bottom: 1px solid black;

}

.searchbutton {
    border: 0px;
    background-color: #fff;

}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/*------------------------------------- Media queries | for iPhone 5/6/7/8 plus   */

@media screen and (max-width: 400px) {
    h4 {
       font-size: 20px;
    }
    .searchbar {
        width: 50px;   
    }
    .icons {
        font-size: 10px;

    }

}
