<div class="container-fluid">
    <div class="row bg-grey">
        <!-- PRNTS text mobile -->
        <div class="col-6 py-4 ps-4 d-block d-lg-none">
            <h5 class="uppercase text-white">Prnts.</h5>
            <p class="text-white">
                Hanging wall art is an easy way to create your 
                own personal atmosphere and style. 
                Find the art that suits you!
            </p>
        </div>
        <!-- PRNTS text desktop -->
        <div class="col-6 py-4 px-5 d-none d-lg-block">
            <h5 class="uppercase text-white">Prnts.</h5>
            <p class="text-white">
                We offer different pieces of wall art in different designs.
                Hanging wall art is an easy way to create your 
                own personal atmosphere and style. 
                Find the art that suits you!
            </p>
        </div>
        <!-- Shopping -->
        <div class="col py-4 d-none d-lg-flex">
            <ul class="list-unstyled">
                <li class="uppercase text-white">Shopping</li>
                <li>
                    <a class="text-white text-decoration-none" href="{% url 'products' %}">All Prints</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none" href="">New</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none" href="">Black and White</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none" href="">Landscape</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none" href="">Paint</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none" href="">Streetart</a>
                </li>
            </ul>

        </div>
        <!-- My Pages -->
        <div class="col py-4 d-none d-lg-flex">
            <ul class="list-unstyled">
                <li class="uppercase text-white">My Pages</li>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li>
                            <a class="text-white text-decoration-none" href="{% url 'account_logout' %}">Management</a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="text-white text-decoration-none" href="">My Account</a>
                    </li>
                    <li>
                        <a class="text-white text-decoration-none" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a class="text-white text-decoration-none" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li>
                        <a class="text-white text-decoration-none" href="{% url 'account_signup' %}">Register</a>
                    </li>
                {% endif %}
            </ul>

        </div>
        <!-- Customer Care -->
        <div class="col py-4">
            <ul class="list-unstyled">
                <li class="uppercase text-white">Shopping</li>
                <li>
                    <a class="text-white text-decoration-none" href="">FAQ</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none" href="">Return policy</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none" href="">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-black">
        <!-- Copyright -->
        <div class="col-8">
            <p class="uppercase text-white my-auto py-1">2021 PRNTS.</p>
        </div>
        <!-- Social links -->
        <div class="col-4 text-end">
            <ul class="list-inline list-unstyled my-auto">
                <li class="list-inline-item">
                    <a class="nav-link text-white" href="https://www.facebook.com/" target="_blank">
                        <div class="icons">
                            <i class="fab fa-facebook-square fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link text-white" href="https://www.instagram.com/" target="_blank">
                        <div class="icons">
                            <i class="fab fa-instagram-square fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link text-white" href="https://www.pinterest.ca/" target="_blank">
                        <div class="icons">
                            <i class="fab fa-pinterest-square fa-lg"></i> 
                        </div>
                    </a>
                </li>
            </ul>
        </div>  
    </div>
</div>