<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="uppercase nav-link text-black mr-5" href="#" id="prints-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h4>prints</h4>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="prints-link">
                <a href="" class="dropdown-item">New</a>
                <a href="" class="dropdown-item ">Black and white</a>
                <a href="" class="dropdown-item ">Landscape</a>
                <a href="" class="dropdown-item">Paint</a>
                <a href="" class="dropdown-item">Streetart</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="uppercase nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h4>About</h4>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="" class="dropdown-item">The company</a>
                <a href="" class="dropdown-item">Sustainability</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="uppercase nav-link text-black mr-5" href="#">
                <h4>Lookbook</h4>
            </a>
        </li>
    </ul>
</div>