<div class="row py-3 bg-brown">
    <!-- Fast delivery -->
    <div class="col-6 col-sm-3">
        <div class="text-center text-black usp-icons">
            <i class="fas fa-shipping-fast"></i>
        </div>
        <h4 class="uppercase text-center text-black"><strong>Fast delivery</strong></h4>
        <p class="uppercase text-center text-black">5 business days</p>
    </div>
    <!-- Free shipping -->
    <div class="col-6 col-sm-3">
        <div class="text-center text-black usp-icons">
            <i class="fas fa-dolly"></i>
        </div>
        <h4 class="uppercase text-center text-black"><strong>Free shipping</strong></h4>
        <p class="uppercase text-center text-black">by ${{ free_delivery_threshold }},- or more </p>
    </div>
    <!-- Sustainability -->
    <div class="col-6 col-sm-3">
        <div class="text-center text-black usp-icons">
            <i class="fas fa-seedling"></i>
        </div>
        <h4 class="uppercase text-center text-black"><strong>Sustainable</strong></h4>
        <a class="text-black" href=""><p class="uppercase text-center">Read here more about it</p></a>  
    </div>
    <!-- Save payments -->
    <div class="col-6 col-sm-3">
        <div class="text-center text-black usp-icons">
            <i class="far fa-credit-card"></i>
        </div>
        <h4 class="uppercase text-center text-black"><strong>Save payments</strong></h4>
        <p class="uppercase text-center text-black">Quick and save</p>
    </div>   
</div>