<div class="row">
    <div class="col pt-4">
        <h2 class="text-black uppercase text-center">Thanks for your purchase!</h2>
    </div>
</div>
<div class="row pt-5 px-5 pb-5">
    <!-- Thank you info -->
    <div class="col-12 col-lg-6 col-lx-6 ps-5 pb-5">
        {% if not from_profile %}
            <h4 class="pb-3">We'll email <strong>{{ order.email }} </strong>with the order confirmation with details and tracking info.</h4>
            <a href="{% url 'products' %}" class="btn btn-black rounded-0">
                <span class="uppercase fw-bold">Continue shopping</span>
            </a>
        {% else %}
            <a href="{% url 'profile' %}" class="btn btn-black rounded-0 float-end">
                <span class="uppercase fw-bold">Go back to profile</span>
            </a>
        {% endif %}
    </div> 
    <div class="col-12 col-lg-6 col-lx-6 border custom-col bg-brown">
        <h5 class="uppercase pt-2">Order summary</h5>
        <p class="my-0">{{ order.date }}</p>
        <p class="my-0">Order number: {{ order.order_number }}</p>
        <hr>
        <div class="row">
            <p class="uppercase">Products</p>
            {% for item in order.lineitems.all %}
                <div class="col ">
                    <p class="my-0">{{ item.product.name }}</p>   
                </div>
                <div class="col">
                    <p class="my-0 mb-2">{{ item.quantity }} x ${{ item.product.price }}</p>
                </div>
                <hr>
            {% endfor %}  
        </div>
        <div class="row">
            <p class="uppercase">Delivery info</p>
            <div class="col ">
                <p class="my-0">Name:</p>
                <p class="my-0">Street:</p>
                <p class="my-0">Town or city:</p>
                <p class="my-0">Country:</p>
                <p class="my-0">Phone number::</p>
            </div>
            <div class="col">
                <p class="my-0">{{ order.full_name}}</p>
                <p class="my-0">{{ order.street_address1 }}</p>
                <p class="my-0">{{ order.town_or_city }}</p>
                <p class="my-0">{{ order.country }}</p>
                <p class="my-0 mb-2">{{ order.phone_number }}</p>
            </div>
            <hr>
        </div>
        <div class="row">
            <p class="uppercase">Billing info</p>
            <div class="col">
                <p class="my-0">Order total:</p>
                <p class="my-0">Delivery:</p>
                <p class="my-0">Grand total:</p>
            </div>
            <div class="col">
                <p class="my-0">${{ order.order_total }}</p>
                <p class="my-0">${{ order.delivery_cost }}</p>
                <p class="my-0 mb-2">${{ order.grand_total }}</p>
            </div>
        </div>
    </div>      
</div> 