{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h2 class="uppercase text-black text-center">{% trans "Sign Up" %}</h2>

<h6 class="text-black">{% blocktrans %}Already have an account? Please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</h6>

<form class="signup py-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
   {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "SIGN UP" %}</button>
</form>

{% endblock %}
