{% extends "base.html" %}
{% load static %}
{% block extra_title %}| RETURNS {% endblock %}

{% block content %}
    <div class="row">
        <div class="col pt-4">
            <h2 class="text-black uppercase text-center">Return policy</h2>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-12">
                <h5 class="text-black uppercase pb-2">We've made returning easy!</h5>
            </div>
            <div class="col-12">
                <ul class="pb-5">
                    <li class="py-2">
                        <p>PRNTS offers free returns and refunds</p>
                    </li>
                    <li class="py-2">
                        <p>
                            Not 100% satisfied with your recent PRNTS. purchase? We are happy to
                            accept returns and refund on items that are in original condition. 
                            Within 90 days of receiving your order.  
                        </p>
                    </li>
                    <li class="py-2">
                        <p>
                            Any product you return must be in the same condition you received it.
                               Returned items must not be used. All items will be reviewed individually
                               opon return.  
                        </p>
                    </li>
                    <li class="py-2">
                        <p>
                            We provide one free return label for each order. You can use it within 90 days
                            from receiving your oder. If you want to make a second return, we will charge
                            a small tee which will be deducted from your refund. 
                        </p>
                    </li>
                    <li class="py-2">
                        <p>
                            If the items are damaged when delivered you can send them back for free and get a full refund.   
                        </p>
                    </li>
                    <li class="py-2">
                        <p>
                            If your return is accepted, we will refund the price you paid for your item back
                            to your original payment method.  
                        </p>
                    </li>
                    <li class="py-2">
                        <p>
                            Returns usually take 14 days to be received and processed. When you return
                            has been processed, a refund will be issued to your original payment method, 
                            this could take up to 5 business days. We will keep in touch with you along 
                            the way and send you an email once it’s all done.  
                        </p>
                    </li>
                    <li class="py-2">
                        <p>
                            If you have any questions about your refund, please contact us through our
                            contact page. 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}