{% extends "base.html" %}
{% load static %}
{% block extra_title %}| SUSTAINABILITY {% endblock %}

{% block content %}
    <div class="row">
        <div class="col pt-4">
            <h2 class="text-black uppercase text-center">Sustainability</h2>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row text-center pb-5">
            <h4 class="uppercase text-black pb-2">CREATING A MORE BEAUTIFUL WORLD</h4>
            <h5 class="px-5">
                Sustainability is close to our heart. Our products wouldn’t exists without
                the natureal materials from the forest. Creating beauty through art is our
                reason for being, and to do so sustainably means constantly striving to improve
                our production process and actively reducing its impact on our envoronment. For an
                even more beautiful world.
            </h5>
        </div>
        <div class="row pt-4 pb-2 px-5">
            <div class="col text-end">
                <img src="https://res.cloudinary.com/dmv5hano3/image/upload/v1615406349/media/green-leave_jml2ka.jpg"
                    class="sus-img" alt="green leave">
            </div>
            <div class="col">
                <h3 class="uppercase text-black">Caring for both environment and society</h3>
                <p class="text-black">
                    As of 2020 we are a Forest Stewardship Council® (FSC) certified company, a 
                    natural step in our journey towards our sustainability goals. FSC is a non-profit 
                    organisation that sets certain high standards to ensure forestry is practiced in an 
                    environmentally responsible, socially beneficial way.
                </p>
            </div>
        </div>
        <div class="row pb-5 px-5">
            <div class="col text-end">
                <img src="https://res.cloudinary.com/dmv5hano3/image/upload/v1615406351/media/plant_evd10m.jpg"
                    class="sus-img" alt="green plant">
            </div>
            <div class="col">
                <h3 class="uppercase text-blackpt-5">Art printed on environmentally certified paper</h3>
                <p class="text-black">
                    We are proud to work with an eco-conscious paper mill. Our paper mill is FSC certified. 
                    All of our posters are certified and labelled with the FSC Mix symbol on our site, which 
                    guarantees that at least 70% of the wood used in their production is from FSC certified forests.
                </p>
            </div>
        </div>
    </div>
{% endblock %}