{% load static %}

<!doctype html>
<html lang="en">
  <head>
   {% include 'includes/head.html' %}
    <title>PRNTS. {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
      <header class="container-fluid fixed-top">
        {% include 'includes/header.html' %}
        <!-- Top nav -->
        <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">

            <!-- Logo -->
            <div class="col-lg-12 my-auto py-lg-1">
                <a href="{% url 'home' %}" class="nav-link text-center">
                    <h1 class="uppercase text-black py-0 display-4">prnts.</h1>
                </a>   
            </div> 
            

        </div>
        <!-- second nav -->
        <div class="row">
              <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/main-nav.html' %}
                {% include 'includes/mobile-top-header.html' %}
                
            </nav>
        </div>               
      </header>

      {% if messages %}
        <div class="message-container"></div>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block postloadjs %}
      {% endblock %}
  
  </body>
</html>