{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %}
        <title>PRNTS. {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid bg-white">
            {% include 'includes/free-delivery.html' %}
            {% include 'includes/mobile-top-header.html' %}  
            {% include 'includes/header.html' %}                 
        </header>

        {% if messages %}
            <div class="container-fluid"></div>
        {% endif %}

        <main class="container-fluid">
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            {% include 'includes/footer.html' %}
        </footer>

        {% block postloadjs %}
        {% endblock %}
    </body>
</html>