{% load bag_tools %}

<div class="row">
    <div class="col pt-4">
        <h2 class="text-black uppercase text-center" >Shopping bag</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if bag_items %}     
            <div class="table-responsive pt-3">
                <table class="table text-black">
                    <thead class="uppercase">
                        <tr>
                            <th scope="col">Prints</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                        <tbody>
                            <tr>
                                <td>
                                    {% if item.product.image %}
                                        <img class="bag-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="bag-img" src="https://res.cloudinary.com/dmv5hano3/image/upload/v1614331897/media/image_not_available_tbyeou.png">
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0">60 x 40 cm</p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td>
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <td>
                                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                                    value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-black">
                                        <p class="text-end">Update</p>
                                    </a>
                                </td>
                                <td>
                                    <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                                <td>
                                    <a class="remove-item float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><i
                                        class="fas fa-trash-alt text-black"></i></a>
                                </td>
                            </tr>
                    {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-end">
                                    <h6 class="fw-bolder">Bag Total: ${{ total|floatformat:2 }}</h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4 fw-bolder">Grand Total: ${{ grand_total|floatformat:2 }}</h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_delta|floatformat:2 }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>         
                            </tr>
                        </tbody>
                </table>
                <div class="col pe-5 pb-5 text-end">
                    <div class="btn btn-black custom-btn text-end">
                        <a class="uppercase text-white text-decoration-none" href="{% url 'products' %}"> < Keep shopping</a>
                    </div>
                    <div class="btn btn-black custom-btn text-end">
                        <a class="uppercase text-white text-decoration-none" href="{% url 'checkout' %}">Go to checkout</a>
                    </div>
                </div>    
            </div>
        {% else %}
            <hr>
            <h4 class="text-black uppercase ps-4">Your bag is empty.</h4>
            <p class="uppercase ps-4 pb-4"><a class="text-black" href="{% url 'products' %}">Go back to all prints</a></p>
        {% endif %}
    </div>
</div>