<!-- Desktop version -->
<div class="d-none d-md-block d-lg-block d-xl-block">
    <div class="row pt-4 px-5">
        <div class="col text-end">
            <img src="https://res.cloudinary.com/dmv5hano3/image/upload/v1614332014/media/paint-blue-red_jjhhbo.jpg" class="img-fluid about-img" alt="black and white paint">      
        </div>
        <div class="col pt-5"> 
            <h6 class="uppercase text-black">prnts.</h6>
            <h3 class="uppercase text-black">Wall art.</h3>
            <p class="text-black about-padding-r">
                The latest trends, but also classic and timeless designs. 
                Get inspired and find the art that suits your home. 
            </p>
        </div> 
    </div>
    <div class="row pb-5 px-5">
        <div class="col pt-5">
            <h3 class="uppercase text-black text-end pt-5">Art & desgin.</h3>
            <p class="text-black text-end about-padding-l">
                Art should be for everyone! Choose your  expression or 
                application of human creative skill and imagination.  
            </p>     
        </div>
        <div class="col"> 
            <img src="https://res.cloudinary.com/dmv5hano3/image/upload/v1614332020/media/blue_jqz8pf.jpg" class="img-fluid about-img" alt="painted girl in blue">   
        </div> 
    </div>
</div>

<!-- Mobile version -->
<div class="d-block d-md-none d-lg-none d-xl-none">
    <div class="row">
        <div class="col-12 py-3 text-center">
            <img src="/media/paint-blue-red.jpg" class="about-img" alt="black and white paint">
        </div>  
        <div class="col-12 py-3 text-center">
            <h6 class="uppercase text-black">prnts.</h6>
            <h3 class="uppercase text-black">Wall art.</h3>
            <p class="text-black">
                The latest trends, but also classic and timeless designs. 
                Get inspired and find the art that suits your home. 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 py-3 text-center">
            <img src="/media/blue.jpg" class="img-fluid about-img" alt="painted girl in blue">
        </div>
        <div class="col-12 py-3 text-center">
            <h3 class="uppercase text-black">Art & desgin.</h3>
            <p class="text-black">
                Art should be for everyone! Choose your  expression or 
                application of human creative skill and imagination.  
            </p>
        </div>
    </div>
</div>