<div class="row pb-5">
    <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item carousel-img active">
                    <img src="https://res.cloudinary.com/dmv5hano3/image/upload/v1615479414/media/mountain_bii6d7.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption my-auto">
                        <h3 class="uppercase text-black">The latest trends</h3>
                        <a class="text-black uppercase" href="{% url 'products' %}"><p>Shop now ></p></a>
                    </div>
                </div>
                <div class="carousel-item carousel-img">
                    <img src="https://res.cloudinary.com/dmv5hano3/image/upload/v1615480592/media/greenpat_ajzf3t.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption my-auto">
                        <h3 class="uppercase text-black">Get inspired</h3>
                        <a class="text-black uppercase" href="#"><p>Go to lookbook ></p></a>
                    </div>
                </div>
                <div class="carousel-item carousel-img">
                    <img src="https://res.cloudinary.com/dmv5hano3/image/upload/v1615478413/media/jellifish_lxt0pu.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption my-auto">
                        <h3 class="uppercase text-black">The B&W collection</h3>
                        <a class="text-black uppercase" href="{% url 'products' %}?category=black_and_white"><p>Shop now ></p></a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>  