<div class="row py-5">
    <div class="col">
        <h2 class="uppercase text-black text-center"><strong>Signup &</strong></h2>
        <h3 class="uppercase text-black text-center"><strong>Join our world of art</strong></h3>
        <div class="text-center py-1">
            <form method="GET" action="">
                <input class="newsletter-bar" type="email" placeholder="Enter your email">
            </form>
            <button class="newsletterbutton">
                <h4 class="uppercase text-white text-center">Sumbit</h4>
            </button>
        </div>
    </div>
</div>