{% extends "base.html" %}
{% load static %}
{% block extra_title %}| PRODUCTS {% endblock %}

{% block content %}
    <!-- All products -->
    {% include 'products/includes/all_products.html' %}
    
    <!-- Unique selling points -->
    {% include 'home/includes/usp.html' %}

    <!-- Newsletter -->
    {% include 'home/includes/newsletter.html' %}
{% endblock %}

{% block postloadjs %}
<!-- Code copied from Code Institute -->
<!-- https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+FSF_102+Q1_2020/courseware/4201818c00aa4ba3a0dae243725f6e32/252883608f734d96ac352ca483451968/?child=first -->

     <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

    <script type="text/javascript">
    $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}